# Byte-compiled files
__pycache__/
*.py[cod]
*.pyc          # Exclude all .pyc files

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Coverage reports
.coverage
coverage.xml
*.cover
*.py,cover
.tox/
noxfile.*
coverage/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache

# Pyre type checker
.pyre/

# Pylint
pylint-report.txt
pylint-dict.json

# Type inference
.typing/

# Dagster
dagster.yaml
dagster_config.yaml
dagster_env.yaml
logs/
artifacts/
.dagster/

# SQLAlchemy
*.sqlite
*.db

# Other files
*.DS_Store


# Dagster
*.err
*.pyc
*.csv
*.out
*.complete

